{
    "presets": [
        "latest",
        "es2015",
        "stage-0"
    ],
    "plugins": [
        "transform-es2015-modules-commonjs",
        "add-module-exports"
    ],
    "ignore": [
        "node_modules",
        "dist",
        "src/reporter"
    ]
}